<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container"></div>

    <strong>Organizador</strong>
    <ion-button (click)="TarefasConcluidas()">Filtrar tarefas conluidas</ion-button>
      <p style="margin-top: 20px; font-weight: bold;">
      {{ mensagemResultado }}
      </p>
     <ion-button (click)="TarefasPendentes()">Filtrar tarfeas pendentes</ion-button>
      <ion-button (click)="calcularEstoque()">Calcular Estoque</ion-button>
       <ion-button (click)="formatarPreco()">Formatar Preço</ion-button>
</ion-content>
